<div>
    <div class="addButton">
        <button class="Add" (click)="openAppointmentModal()">Add Appointment</button>
    </div>
    <div class="row" *ngIf="appointment!=null ">
        <div class="col-4 display" *ngFor="let app of appointment">
            <div class="card"*ngIf="app.isDelete!='true' ">
                <div class="cardcontent" id="cardtitle">patientID={{app.patientId}}</div><br>
                <div class="cardcontent" id="cardtitle">Date={{app.date}}</div><br>
                <div class="cardcontent" id="cardname">startTime={{app.startTime}}</div><br>
                <div class="cardcontent" id="cardname">endTime={{app.endTime}}</div>
                <button class="delete" (click)="delete(app.appointmentId)">Delete</button>

            </div>
        </div>
    </div>
</div>