<div class="CreateAppointment">
    <form class="form" [formGroup]="appointmentFormGroup" (ngSubmit)="submit()">
        <div class="container">


            <label>PatientId</label>
            <input type="number" class="inputPatientId" formControlName="PatientId" placeholder="PatientId"><br>
            <div class="Error" *ngIf="formSubmit==true && appointmentFormGroup.get('PatientId')?.hasError('required')">
                Patient Id Requires</div>
            <label>Date</label>
            (Enter YYYY-MM-DD Format)
            <input class="inputDate" formControlName="Date" placeholder="Date" type="date"><br>
            <div class="Error" *ngIf="formSubmit==true && appointmentFormGroup.get('Date')?.hasError('required')">Date
                Required</div>
            <label>StartTime</label>

            (Enter HH-MM-SS Format)
            <input class="inputStartTime" formControlName="StartTime" placeholder="StartTime" type="time"><br>
            <label>Endtime</label>
            (Enter HH-MM-SS Format)
            <input class="inputEndTime" formControlName="EndTime" placeholder="EndTime" type="time"><br>
            <div class="button">
                <div class="cancelbutton" (click)="close()">
                    <button class="cancel">Cancel</button>
                </div>
                <div class="Add">
                    <input type="submit" value="Add Appointment">
                </div>
            </div>
        </div>
    </form>
</div>