
        <div class="addButton">
            <button class="Add" (click)="openPatientModal()">Add Patient</button>
        </div>
        <div class="cardClass" >
            <div class = "cardBox hover-overlay" *ngFor="let patient of patientList">
                <div class="card">
                    <div class="cardcontent" id="cardtitle">Patient ID:{{patient.patientId}}</div><br>
                    <div class="cardcontent" id="cardname">First Name:{{patient.firstName}}</div><br>
                    <div class="cardcontent" id="cardname">Last Name:{{patient.lastName}}</div><br>
                    <div class="cardcontent" id="cardname">DOB:{{patient.dob}}</div><br>
                    <div class="cardcontent" id="cardname">SSN:{{patient.ssn}}</div>
                    <button class="delete" (click)="delete(patient.patientId)">Delete</button>
                </div>
            </div>
        </div>
    
    <!-- <pagination-controls 
(pageChange)="onPageDataChange($event)" 
class="float-right">
</pagination-controls> -->





<div class="paginationButtons">
    <div class="previousButtonDiv" *ngIf="countMethod(page-1)">
        <button class="previousButton" (click)="onPageClick(page-1)">prev</button>
    </div>
    <div class="previousPage" *ngIf="countMethod(page-1)">
        <button class="previousPageNumber" (click)="onPageClick(page-1)">{{page-1}}</button>
    </div>
    <div class="currentPage">
        <button class="currentPageNumber" (click)="onPageClick(page)">{{page}}</button>
    </div>
    <div class="nextPage" *ngIf="countMethod(page)">
        <button class="nextPageNumber" (click)="onPageClick(page+1)">{{page+1}}</button>
    </div>
    <div class="nextButton" *ngIf="countMethod(page)">
        <button class="nextPageButton" (click)="onPageClick(page+1)">next</button>
    </div>
</div>