<div>
    <div class="addButton">
        <button class="Add" (click)="openPatientModal()">Add Patient</button>
    </div>
    <div class="row" *ngIf="patientList!=null">
        <div class="col-4 display"
            *ngFor="let patient of patientList|paginate : {itemsPerPage:pageSize,currentPage:page,totalItems:count}">
            <div class="card">
                <div class="cardcontent" id="cardtitle">patientId:{{patient.patientId}}</div><br>
                <div class="cardcontent" id="cardname">firstName:{{patient.firstName}}</div><br>
                <div class="cardcontent" id="cardname">lastname:{{patient.lastName}}</div><br>
                <div class="cardcontent" id="cardname">dob:{{patient.dob}}</div><br>
                <div class="cardcontent" id="cardname">ssn:{{patient.ssn}}</div>
                <button class="delete" (click)="delete(patient.patientId)">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- <pagination-controls 
(pageChange)="onPageDataChange($event)" 
class="float-right">
</pagination-controls> -->

<div>
    <button class="previous" (click)="onPageDataChange(page-1)">previous</button>
    <button class="pagebutton" (click)="onPageDataChange(page)">{{page}}</button>
    <div class="nextButton" *ngIf="pageNumberMethod(count,this.page)">
        <button class="pagebutton" (click)="onPageDataChange(page+1)">{{page+1}}</button>
    </div>
</div>